<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfyd.atlas.demo.news" >

    <application>
        <meta-data android:name="atlas.fragment.intent.action.news.NEWS_FRAGMENT"
            android:value="com.hfyd.atlas.demo.news.NewsFragment"/>
    </application>

</manifest>
