<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfyd.atlas.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.hfyd.atlas.core.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!--<service android:name="com.taobao.atlas.dexmerge.DexMergeService">
            <intent-filter>
                &lt;!&ndash; AIDL完整路径名。必须指明，客户端能够通过AIDL类名查找到它的实现类 &ndash;&gt;
                <action android:name="com.taobao.atlas.dexmerge.DexMergeService" />
            </intent-filter>
        </service>-->
    </application>

</manifest>