<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atlas.hfyd.bundle.movie" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <meta-data android:name="atlas.fragment.intent.action.movie.MOVIE_FRAGMENT"
            android:value="com.atlas.hfyd.bundle.movie.MovieFragment"/>
    </application>

</manifest>
